<!-- network_form.html -->

{% extends 'layouts/base.html' %}

{% block content %}
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<div class="container mt-8"> <!-- Added margin-top for vertical space -->
    <h2 class="mb-4">{% if object %}Edit{% else %}Add{% endif %} NETWORK</h2>

    <form method="post" class="mb-4">
        {% csrf_token %}
        {{ form.site }}
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
            
        </div>
        <div class="mb-3">
            {{ form.vlan_id.label_tag }}
            {{ form.vlan_id }}
            {{ form.vlan_id.errors }}
        </div>
        <div class="mb-3">
            {{ form.network_color.label_tag }}
            {{ form.network_color }}
            {{ form.network_color.errors }}
        </div>
        <div class="mb-3">
            {{ form.gateway.label_tag }}
            {{ form.gateway }}
            {{ form.gateway.errors }}
        </div>
        <div class="mb-3">
            {{ form.dhcp_range.label_tag }}
            {{ form.dhcp_range }}
            {{ form.dhcp_range.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
