<!-- ssid_list.html -->

{% extends 'layouts/base.html' %}

{% block content %}
<head>

    <!-- jQuery Library -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- DataTables CSS and JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
   
</head>
<div class="container mt-8">
    <h2>SSID List</h2>

    <div class="row mb-3">
        <div class="col">
            <form method="get" class="d-flex">
                <input type="text" name="q" class="form-control me-2" placeholder="Search..." value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </form>
        </div>
        <div class="col text-end">
            <a href="{% url 'ssid_add' %}" class="btn btn-success">Add SSID</a>
        </div>
    </div>

    <table class="table table-striped table-hover" id="ssidTable">
        <thead>
            <tr>
                <th>SSID Name</th>
                <th>VLAN</th>
            </tr>
        </thead>
        <tbody>
            {% for ssid in ssids %}
            <tr style="background-color: {{ ssid.vlan.vlan_color }}; cursor: pointer;" onclick="location.href='{% url 'ssid_edit' ssid.pk %}'">
                <td>{{ ssid.ssid_name }}</td>
                <td>{{ ssid.vlan.name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No SSIDs found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $('#ssidTable').DataTable({
            "order": [[0, "asc"]], // Default sorting on the first column
            "pageLength": -1 // Show all records
        });
    });
</script>
{% endblock %}
