<!-- vlan_list.html -->

{% extends 'layouts/base.html' %}

{% block content %}
<head>

    <!-- jQuery Library -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- DataTables CSS and JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
   
</head>
<div class="container mt-8">
    <h2>VLAN List</h2>

    <div class="row mb-3">
        <div class="col">
            <form method="get" class="d-flex">
                <input type="text" name="q" class="form-control me-2" placeholder="Search..." value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </form>
        </div>
        <div class="col text-end">
            <a href="{% url 'vlan_add' %}" class="btn btn-success">Add VLAN</a>
        </div>
    </div>

    <table class="table table-striped table-hover" id="vlanTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>VLAN ID</th>
                <th>Gateway</th>
                <th>DHCP Range</th>
            </tr>
        </thead>
        <tbody>
            {% for vlan in vlans %}
            <tr style="background-color: {{ vlan.vlan_color }}; cursor: pointer;" onclick="location.href='{% url 'vlan_edit' vlan.pk %}'">
                <td>{{ vlan.name }}</td>
                <td>{{ vlan.vlan_id }}</td>
                <td>{{ vlan.gateway }}</td>
                <td>{{ vlan.dhcp_range }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No VLANs found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $('#vlanTable').DataTable({
            "order": [[0, "asc"]], // Default sorting on the first column
            "pageLength": -1 // Show all records
        });
    });
</script>
{% endblock %}
